<style>
	.page3 p{
		font-family: "Times New Roman", sans-serif; 
		font-size: 12pt;
	}
		.page3 p.title {
			text-align: center;
			font-weight: bold;
			margin-bottom: 15px;
		}

	.page3 .block {
		margin-bottom: 15px;
	}
		.page3 .block p {
			line-height: 1.5;
			text-indent: 15px;
		}
		
		.page3 .block p.subtitle {
			font-weight: bold;
			line-height: 1.5;
			text-indent: 10px;
			margin-bottom: -15px;
			padding: 0;
		}
</style>
<div class="page page3">
	<p class="title">2. Мета та завдання навчальної дисципліни</p>
	
	<div class="block">
		<p class="subtitle">1.1. Мета викладання дисципліни</p>
		<p>
			Метою і завданням навчальної дисципліни
			"Алгоритмізація і програмування" є: ознайомлення та
			оволодіння сучасними методами та теоретичними положеннями,
			притаманними інформатиці та програмній інженерії, та
			їх застосування при побудові алгоритмів та програм для
			сучасних комп’ютерів.
		</p>
	</div>

	<div class="block">
		<p class="subtitle">1.2. Завдання вивчення дисципліни. Знання та вміння</p>
		<p>
			Після вивчення дисципліни "Алгоритмізація і програмування"
			студент повинен знати: основні поняття інформатики -
			виконавець, алгоритм, програма; синтаксис, семантику
			та властивості структур керування
			(ланцюг, розгалуження, цикли); формальні методи побудови
			алгоритмів та програм за допомогою рекурентних співвідношень;
			основні властивості програм; синтаксичні конструкції
			операторів мови програмування Сі.
		</p>
		<p>
			Для успішного використання знань з дисципліни студент
			повинен вміти: будувати лінійні, розгалужені та циклічні
			алгоритми та програми, створювати та використовувати
			складні структури які оперують даними числових та
			бульового типів мовою програмування Сі.
		</p>
	</div>

	<div class="block">
		<p class="subtitle">
			1.3. Міждисциплінарні зв'язки.
			Перелік дисциплін із зазначенням розділів (тем),
			засвоєння яких студентам необхідно для вивчення
			даної дисципліни
		</p>
		<p>
			Для успішного вивчення курсу „Алгоритмізація і програмування”
			студентам потрібно досконало знати шкільну інформатику,
			зокрема такі розділи, як „Програмне забезпечення ПК”,
			„Алгоритмічні мови”. З курсу математики „Арифметичні операції”,
			„Тригонометричні функції”, „Інтеграли”, „Логарифми”, „Похідна”.
		</p>
	</div>
	
</div>
