<style>
    .table {
            margin:0px;
            padding:0px;
            width:100%;
            height:auto;
            border-top:1px solid #000000;
            border-left:1px solid #000000;
        }
            .table table{
                border-collapse: collapse;
                border-spacing: 0;
                width:100%;
                height:auto;
                margin:0px;
                padding:0px;
            }
                .table th,
                .table td {
                    vertical-align:middle;
                    background-color:#ffffff;
                    border:1px solid #000000;
                    border-width:0px 1px 1px 0px;
                    text-align:left;
                    padding:4px;
                    font-size:12pt;
                    font-family:Times New Roman;
                }
                .table th {
                    font-weight:bold;
                }
                .table td {
                    font-weight:normal;
                }
                
                .table tr:last-child td{
                    border-width:0px 1px 0px 0px;
                }
                .table tr td:last-child{
                    border-width:0px 0px 1px 0px;
                }
                .table tr:last-child td:last-child{
                    border-width:0px 0px 0px 0px;
                }
</style>
<div class="autopagination page5">
    <div class="title">
        4. Структура навчальної дисципліни
    </div>

    {% set modules_count = 0 %}
    {% set themes_count = 0 %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Тема</th>
                    <th colspan="5">Кількість годин, відведених на:</th>
                </tr>
                <tr>
                    <th>Лекції</th>
                    <th>Практично-семінарські заняття</th>
                    <th>Лабораторні заняття</th>
                    <th>Самостійну роботу</th>
                    <th>Індивідуаль-ну роботу</th>
                </tr>
            </thead>
            <tbody>
                {% for module_name, module_data in nmkd.question_hierarchy %}
                    {% set modules_count = modules_count + 1 %}
                    <tr>
                        <td colspan="6">Змістовий модуль {{ modules_count }}. {{ module_name }}</td>
                    </tr>
                    {% for theme_name, theme_data in module_data %}
                        {% set themes_count = themes_count + 1 %}
                        <tr>
                            <td >
                                Тема {{ themes_count }}. {{ theme_name }}
                            </td>
                            <td >
                                0
                            </td>
                            <td >
                                0
                            </td>
                            <td >
                                0
                            </td>
                            <td >
                                0
                            </td>
                            <td >
                                Індивідуальне навчально-дослідне завдання, РГР
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

        <br>
        <br>
        <br>
        
    
</div>
