<style>

</style>
<div class="autopagination page7">
	<p class="title">
		8. Самостійна робота
	</p>
	<p>
		Самостійна робота студента виконується у формі
		розрахунково-графічної роботи згідно навчально-методичного
		матеріалу: «Методичні рекомендації до виконання
		розрахунково-графічної роботи студентами денної форми
		навчання спеціальностей напряму 6.050202 „Автоматизація
		та комп’ютерно-інтегровані технології”». Укладачі Гладка Л.І.,
		Гриценко В.Г., Подолян О.М. – Черкаси: Черкаський національний
		університет імені Б.Хмельницького, 2013, 38с.
	</p>
	<p>
		Розрахунково-графічна робота виконується в 1 семестрі в
		рамках вивчення нормативної дисципліни „Алгоритмізація
		та програмування”, яка є одним з головних елементів навчального
		процесу у системі підготовки фахівця освітньо-кваліфікаційного
		рівня “бакалавр”.
	</p>
	<p>
		Вивчення дисципліни „Алгоритмізація та програмування”
		забезпечує перший рівень фундаментальної підготовки
		бакалаврів спеціальності автоматизація та комп’ютерно-інтегровані
		технології в області практичного використання обчислювальної
		техніки і сучасних програмних засобів для розв’язання інженерних задач.
	</p>
	<p>
		Разом з теоретичним вивченням цієї дисципліни, виконання
		практичних та лабораторних робіт навчальна програма передбачає
		виконання розрахунково-графічної роботи в якості
		самостійної роботи студентів.
	</p>
	<p>
		Метою виконання розрахунково-графічної роботи (РГР) є
		закріплення практичних навичок розробки алгоритмів та
		складання програм, що реалізують створені алгоритми,
		на одній із процедурно-орієнтованих алгоритмічних мов,
		відлагодження програм за контрольними прикладами, виконання
		розрахунків за довільними даними та аналіз отриманих результатів.
	</p>
	<p>
		Завдання на виконання РГР включає програмування задач з
		використанням масивів, текстових змінних та побудови
		масштабованого параметризованого зображення рисунка.
	</p>
	<p>
		Розрахунково-графічна робота виконується згідно з
		варіантом індивідуального завдання в години, що надані
		для самостійної підготовки студентів.
	</p>
	<p>
		Для розв’язання кожної із задач, що вказані в завданні на РГР,
		студент має ознайомитись з теоретичними відомостями з
		вирішуваної проблеми та поставити задачу на виконання роботи.
		Постановку задачі, форму представлення початкових даних і
		результатів розрахунків студент узгоджує з керівником РГР.
		Календарний план виконання роботи затверджується керівником і
		в ході виконання її етапів керівник роботи ставить відповідні
		відмітки про виконання. Недотримання календарного графіка
		виконання студентом розрахункової роботи позбавляє його
		консультації з відповідних питань. Оформлення РГР виконується
		згідно з вимогами, що пред’являються до розрахунково-графічних
		та курсових робіт. Виконана в повному обсязі розрахунково-графічна
		робота після попередньої перевірки керівником підлягає
		публічному захисту.
	</p>
</div>
