{% extends 'nmkd/baseNmkd.html.twig' %}

{% block mainForm %}
<form id="inputForm" method="POST" action="">
    <ul class = "unmarked">
        <li class="input-menu"><span class="glyphicon glyphicon-remove" onclick="$('#q_input').html('');"></span></li>
        <li>
            <textarea name="questions" class="form-control" id="q_input">{% for question in questions %}
{{question}}
{% endfor %}</textarea>
        </li>
    </ul>
    <div id="saved"></div>
</form>

<script>
$('body').on('click','#nextBtn',function() {
    str = $('#q_input').val();
    $.post( window.location, { ajaxQuestions: str })
    .done(function( data ) {
        $('#inputForm').submit();
    });
});
$('body').on('click','#prevBtn',function(){
    window.location.replace('/nmzd.local');
});
</script>

<script>
function save() {
    str = $('#q_input').val();
    $.post( window.location, { ajaxQuestions: str })
    .done(function( data ) {
        //alert( "Data Loaded: " + data );
        $('#saved').html('збережено');
        //console.log(data);
        //timer = setTimeout(function(){$('#saved').html();}, 1000)
    });
};


$(function(){
    setInterval(function() { save(); }, 10000);
});
</script>
{% endblock mainForm %}

{% block uploadFileBtn %}
<form id="input-form" enctype="multipart/form-data" action="/questions-upload" method="post" style="display:inline-block">
    <div class="btn btn-default" id="upload" style="width:185px; padding:6px 10px; ">
        <span class="glyphicon glyphicon-open" onclick="$('#upload-choose').click();"></span> <span onclick="$('#upload-choose').click();">Завантажити з файлу</span>
        <input name="file" type="file" multiple id="upload-choose" style="display:none; padding:0; margin:0; width: auto; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0;"/>
    </div>
</form>




<script>
$('body').on('change', '#upload-choose', function(e){
        e.preventDefault();
        var formData = new FormData($(this).parents('form')[0]);
        $.ajax({
            url: '/questions-upload',
            type: 'POST',
            xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            },
            success: function (data) {
                if ($("#q_input").html() === '') {
                    $("#q_input").append(data);
                } else {
                    $("#q_input").append('\n');
                    $("#q_input").append(data);
                }
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        });

        fileClone = $("#upload-choose").wrap("<div>").parent().html();
        form = $("#upload-choose").parent();
        $('#upload-choose').remove();
        $(form).append(fileClone);
        
        return false;
});
</script>

{% endblock uploadFileBtn %}


