 <P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="background: #ffffff; page-break-before: always">
<FONT SIZE=4>Додаток</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="background: #ffffff">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 1.27in; text-indent: -1.02in; margin-top: 0.32in; background: #ffffff; line-height: 0.15in">
<FONT SIZE=4><B>ДОПОВНЕННЯ ТА ЗМІНИ В РОБОЧІЙ
ПРОГРАМІ </B></FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-left: 1.27in; text-indent: -1.02in; margin-top: 0.32in; background: #ffffff; line-height: 0.15in">
<FONT SIZE=3><FONT SIZE=4><SPAN LANG="uk-UA"><B>НА 20    - 20    
н.р.</B></SPAN></FONT></FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.31in; background: #ffffff">
<FONT SIZE=4>У робочу програму внесені типі
зміни та доповнення:</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.31in; background: #ffffff">
<FONT SIZE=4>1.</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.31in; background: #ffffff">
<FONT SIZE=4>2.</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.31in; background: #ffffff">
<FONT SIZE=4>3.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-left: 0in; margin-right: 3.29in; margin-top: 0.15in; background: #ffffff; line-height: 0.15in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-left: 0in; margin-right: 3.29in; margin-top: 0.15in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="text-indent: 0.34in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>Унесені зміни та доповнення
схвалені на засіданні кафедри (протокол
№ ___ від “      “ ________________ 20 ____ р.).</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="text-indent: 0.34in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="text-indent: 0.34in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="text-indent: 0.34in; background: #ffffff; line-height: 150%">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="text-indent: 0.03in; background: #ffffff; line-height: 150%">
<FONT SIZE=4>Завідувач кафедри                      
_________________ 		Ініціали, прізвище</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="text-indent: 0.03in; background: #ffffff">
                                                                <FONT SIZE=2>		
       (підпис)</FONT></P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 3.75in"><BR>
</P>
<P LANG="uk-UA" CLASS="western"><BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
</P>
