<style>
	.page3 p{
		line-height:1;
		font-family: "Times New Roman", serif; 
		font-size: 12pt; 
		so-language: uk-UA;
	}
		
		.page3 div.pre-container {
			margin: 0px;
			padding-top: 3mm;
		}

		.page3 .headers1 {
			padding-bottom: 280px;
		}

		.page3 .headers2 {
			padding-bottom: 320px;
		}

		.page3 .headers1 p {
			font-size: 13pt;
			line-height: 1.1;
			text-align: center;
			letter-spacing: 0.1mm;
		}
			.page3 p.header1 {
				margin-top: 0in;
				margin-bottom: 0in;
			}
			.page3 p.header2 {
				margin-top: 0.1in;
				margin-bottom: 0in;
			}
		
		
	.page3 .headers2 p {
		font-size: 14pt;
		font-weight: bold;
		line-height: 80%;
		text-align: center;
		letter-spacing: 0.1mm;
	}

	.pre-container p {
		font-size: 12pt;
		line-height: 10%;
		margin-left: 4.5in;
	}

				

	.page3 .cityYear p {
	      margin-top: 0.2in;
	      font-size: 12pt;
	      text-align: center;
	} 

  </style>

	
  <div class="page page3">

<div class="pre-container">
      <p>Додаток 3</p>
      <p>до наказу</p>
      <p>від {{nmkd.orderDate}} №&nbsp;{{nmkd.order}}</p>
</div>

<P style="
	  margin-top:0.0in;
	  margin-bottom: 0.0in;"><BR>
</P>

<div class="headers1">
      <p class="header1">МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ</p>
      <p class="header2">ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ</p>
      <p class="header1" style="margin-top:0.02in;">ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</p>
      <p class="header2" 
	style="margin-top:0.11in;
	       margin-bottom:-0.02in;" 
       ALIGN=CENTER>ДЕПАРТАМЕНТ НАВЧАЛЬНО-МЕТОДИЧНОЇ РОБОТИ</p>
</div>




<div class="headers2">
      <p>МЕТОДИЧНІ РЕКОМЕНДАЦІЇ</p>
      <p>ДО СКЛАДАННЯ ПРОГРАМИ</p>
      <p>НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</p>
</div>



<div class="cityYear">
      <p>Черкаси – {{nmkd.year}}</p>
</div>

</div>


