<style>
    .table {
            margin:0px;
            padding:0px;
            width:100%;
            height:auto;
            border-top:1px solid #000000;
            border-left:1px solid #000000;
        }
            .table table{
                border-collapse: collapse;
                border-spacing: 0;
                width:100%;
                height:auto;
                margin:0px;
                padding:0px;
            }
                .table th,
                .table td {
                    vertical-align:middle;
                    background-color:#ffffff;
                    border:1px solid #000000;
                    border-width:0px 1px 1px 0px;
                    text-align:left;
                    padding:4px;
                    font-size:12pt;
                    font-family:Times New Roman;
                }
                .table th {
                    font-weight:bold;
                }
                .table td {
                    font-weight:normal;
                }
                
                .table tr:last-child td{
                    border-width:0px 1px 0px 0px;
                }
                .table tr td:last-child{
                    border-width:0px 0px 1px 0px;
                }
                .table tr:last-child td:last-child{
                    border-width:0px 0px 0px 0px;
                }
</style>
<div class="page page16">
    <p class="title">1. ОПИС НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</p>

    <div class="table">
        <table>
            <tr>
                <td rowspan="2">Найменування показників </td>
                <td rowspan="2">Галузь знань, напрям підготовки, освітньо-кваліфікаційний рівень</td>
                <td colspan="2">Характеристика навчальної дисципліни</td>
            </tr>
            <tr>
                <td>денна форма навчання</td>
                <td>заочна форма навчання</td>
            </tr>

            <tr>
                <td rowspan="2">Кількість кредитів – </td>
                <td>Галузь знань</td>
                <td rowspan="2" colspan="2">Нормативна / за вибором</td>
            </tr>
            <tr>
                <td>Напрям підготовки</td>
            </tr>

            <tr>
                <td>Модулів – </td>
                <td rowspan="5">Спеціальність:</td>
                <td colspan="2">Рік підготовки</td>
            </tr>
            <tr>
                <td>Змістових модулів – </td>
                <td>-й</td>
                <td>-й</td>
            </tr>
            <tr>
                <td>Індивідуальне науково-дослідне завдання</td>
                <td colspan="2">Семестр</td>
            </tr>
            <tr>
                <td rowspan="2">Загальна кількість годин – </td>
                <td>-й</td>
                <td>-й</td>
            </tr>
            <tr>
                <td colspan="2">Лекції</td>
            </tr>


            <tr>
                <td rowspan="11">Тижневих годин для денної форми навчання: аудиторних – самостійної роботи студента –</td>
                <td rowspan="11">Освітньо-кваліфікаційний рівень:</td>
                <td>год.</td>
                <td>год.</td>
            </tr>
            <tr>
                <td colspan="2">Практичні, семінарські</td>
            </tr>
            <tr>
                <td>год.</td>
                <td>год.</td>
            </tr>
            <tr>
                <td colspan="2">Лабораторні</td>
            </tr>
            <tr>
                <td>год.</td>
                <td>год.</td>
            </tr>
            <tr>
                <td colspan="2">Самостійна робота</td>
            </tr>
            <tr>
                <td>год.</td>
                <td>год.</td>
            </tr>
            <tr>
                <td colspan="2">Індивідуальні завдання: </td>
            </tr>
            <tr>
                <td colspan="2">год.</td>
            </tr>
            <tr>
                <td colspan="2">Вид контролю:</td>
            </tr>
            <tr>
                <td>екз.</td>
                <td>залік</td>
            </tr>
        </table>
    </div>
</div> 
