<style>
	.page5,
	.page6,
	.page4 {
		padding-top: -4px;
	}

	.page5 p,
	.page6 p,
	.page4 p {
		text-align: justify;
		line-height: 200%;
		font-family: "Times New Roman", serif; 
		font-size: 12pt; 
		so-language: uk-UA;
		text-indent: 35px;
		/*letter-spacing: 0.02in;*/
		word-spacing: 8px;
		font-stretch: semi-expanded;
		margin-bottom: 0;
		margin-top: 0;
	}
</style>

<div class="page page4">
	<p>
	Навчальна програма – основний
науково-теоретичний документ, що визначає
місце і значення навчальної дисципліни
в реалізації освітньо-професійної
підготовки студента, її зміст, обсяг
знань, умінь і навичок, якими повинен
володіти фахівець, послідовність і
організаційні форми вивчення навчальної
дисципліни. Навчальні програми нормативних
дисциплін належать до документів
державного стандарту, розробляються і
затверджуються як його складові.
Навчальні програми вибіркових дисциплін
розробляються на 3-5 років кафедрами
університету і затверджуються вченою
радою ВНЗ.
	</p>
	<p>
	Програма навчальної дисципліни розробляється на основі освітньо-професійної програми.
	</p>
	<p style="margin-bottom: 35px">
	Програму навчальної дисципліни друкують на листку формату А4 (210 х 297 мм), вона зберігається на кафедрі.
	</p>


	<p>Програма навчальної дисципліни має таку структуру:</p>
	<p>* титульний аркуш,</p>
	<p>* вступ,</p>
	<p style="margin-bottom: 35px">* основну частину.</p>

	<p><b>* Титульний аркуш</b> програми містить:</p>
	<p>найменування міністерства, якому підпорядкований навчальний заклад;</p>
	<p>повне найменування вищого навчального закладу;</p>
	<p>назву навчальної дисципліни;</p>
	<p>назву освітньо-кваліфікаційного рівня;</p>
	<p>шифр програми за ОПП;</p>
	<p>рік видання.</p>

	<p><b>2 сторінка</b> містить:</p>
	<p>повне найменування вищого навчального закладу, яким розроблено програму;</p>
</div>


<div class="page page5">
	<p>ініціали та прізвище укладача(ів), науковий ступінь, учене звання, посаду розробників програми;</p>
	<p>ініціали та прізвище укладача(ів), науковий ступінь, учене звання, посаду рецензентів програми;</p>
	<p>відомості про рекомендацію до затвердження Вченою радою інституту / факультету;</p>
	<p>відомості про затвердження Вченою радою університету;</p>
	<p>ББК;</p>
	<p>УДК;</p>
	<p>ISBN;</p>
	<p style="margin-bottom: 35px">відомості про авторські права.
	Відповідно до чинного законодавства,
	авторські права на програму навчальної дисципліни належать
	 Черкаському національному університету імені Богдана Хмельницького.
	 Тому у програмі робиться запис «ЧНУ, рік». </p>

	<p style="margin-bottom: 35px"><b>Вступ</b> містить інформацію про назву навчальної дисципліни,
	назву освітньо-кваліфікаційного рівня.
	Наводиться інформація про предмет вивчення навчальної дисципліни, міждисциплінарні зв’язки.
	Вказують назви змістових модулів.</p>

	<p>Основна частина складається з 5 розділів.</p>
	<p><b>Розділ 1</b> «Мета та завдання навчальної дисципліни» містить інформацію
	про мету викладання дисципліни, її завдання; відомості про знання та вміння,
	що набуває студент при її вивченні.; кількість годин, що відводиться на дисципліну
	та кількість кредитів ЄКТС.</p>
	<p><b>Розділ 2</b> «Інформаційний обсяг навчальної дисципліни» містить докладний зміст (питання)
	за окремими темами. Теми об’єднані у змістові модулі.</p>
	<p><b>Розділ 3</b> «Рекомендована література» включає базову та допоміжну літературу.</p>
</div>

<div class="page page6">
	<p>До списку рекомендованої літератури слід включати нові видання підручників,
	навчальних посібників, журнальних статей, збірників наукових праць з урахуванням
	їх наявності в науковій бібліотеці університету.
	Список джерел розміщують в алфавітному порядку прізвищ перших авторів або заголовків.
	Бібліографічний опис джерел складають відповідно до чинних стандартів.</p>
	<p><b>Розділ 4</b> «Форма підсумкового контролю успішності навчання» − вказують відповідну
	форму підсумкового контролю, передбачену навчальним планом.</p>
	<p><b>Розділ 5.</b> «Засоби діагностики успішності навчання».
	Для діагностики успішності навчання студентів, як правило застосовують наступні засоби:
	усне опитування на семінарських, практичних заняттях; письмові контрольні роботи
	(у т.ч. у тестовій формі); індивідуальні завдання; тестові і практичні контрольні завдання
	для підсумкової експертизи знань, пакет ККР тощо.
	У програмі вказують перелік засобів діагностики,
	що використовується у ході викладання дисципліни.</p>



	
</div>
