<style>
				table.row {
					width: 100%;
					margin-bottom: 0.15in;
				}

					table.row tr td.underline {
						border-bottom: 1px solid #000;
						text-align: center;
						font-size: 12pt;
						text-align: center;
						padding-bottom: 0;
					}

					table.row tr td.text {
						width: auto;
						white-space: nowrap;
						font-size: 12pt;
						letter-spacing: 0.001in;
						padding-bottom: -2px;
					}

				.hint {
					margin-top: -0.4in;
					padding-top: 0;
					font-size: 7pt;
					text-align: center;
				}
</style>
<div class="page page9">
	<p class="header">Вступ</p>

	<div class="form">
		<table class="row">
			<tr>
				<td>Програма вивчення навчальної дисципліни</td>
			</tr>
			<tr>
				<td>“</td>
				<td class="underline"></td>
				<td>”</td>
			</tr>
			<tr>
				<td>складена відповідно до освітньо-професійної програми підготовки</td>
			</tr>
			<tr>
				<td class="underline"></td>
			</tr>
			<tr>
				<td class="hint">(назва освітньо-кваліфікаційного рівня)</td>
			</tr>
		</table>

		<table class="row">
			<tr>
				<td class="text">напряму / спеціальності </td>
				<td class="underline"></td>
			</tr>
			<tr>
				<td></td>
				<td class="hint">(шифр і назва)</td>
			</tr>
		</table>

		<table class="row">
			<tr>
				<td class="text"><b>Предметом</b> вивчення  навчальної дисципліни є </td>
				<td class="underline"></td>
			</tr>
			<tr>
				<td class="underline"></td>
			</tr>
		</table>

		<table class="row">
			<tr>
				<td class="text"><b>Міждисциплінарні зв’язки: </b></td>
				<td class="underline"></td>
			</tr>
			<tr>
				<td class="underline"></td>
			</tr>
		</table>

		<div class="modules">
			<p>Програма навчальної дисципліни складається з таких змістових модулів:</p>
			{% set j=1 %}
			{% for module, data in nmkd.moduleData %}
			<p>{{j}}. {{module}}</p>
			{% set j=j+1 %}
			{% endfor %}
		</div>

		<div class="purpose">
			<p><b>1. Мета та завдання навчальної дисципліни</b></p>
			<table class="row">
				<tr>
					<td class="text">1.1. Метою викладання навчальної дисципліни</td>
				</tr>
				<tr>
					<td>“</td>
					<td class="underline"></td>
					<td>” є </td>
				</tr>
				<tr>
					<td class="underline"></td>
				</tr>
				<tr>
					<td class="underline"></td>
				</tr>
			</table>

			<table class="row">
				<tr>
					<td class="text">1.2. Основними завданнями вивчення дисципліни</td>
				</tr>
				<tr>
					<td>“</td>
					<td class="underline"></td>
					<td>” є </td>
				</tr>
				<tr>
					<td class="underline"></td>
				</tr>
				<tr>
					<td class="underline"></td>
				</tr>
			</table>

			<p class="student_requirenments">1.3. Згідно з вимогами
			освітньо-професійної програми студенти повинні:</p>
			<p class="know"><b><i>знати:</i></b></p>
			<table class="row">
				<tr><td class="underline"></td></tr>
				<tr><td class="underline"></td></tr>
			</table>

			<p class="know"><b><i>вміти:</i></b></p>
			<table class="row">
				<tr><td class="underline"></td></tr>
				<tr><td class="underline"></td></tr>
			</table>
		</div>

		<div class="hours">
			<table class="row">
				<tr>
					<td class="text">На вивчення навчальної дисципліни відводиться </td>
					<td class="underline"></td>
					<td class="text">години</td>
					<td class="underline"></td>
				</tr>
				<tr>
					<td class="text">кредитів ЄКТС.</td>
				</tr>
			</table>
		</div>

	</div>
</div>
