<style>
    .page1 p{
        line-height:1;
        font-family: "Times New Roman", sans-serif; 
        font-size: 12pt; 
        so-language: uk-UA;
    }

        .page1 div.pre-container {
            margin-top: 0;
            padding-top: 3mm;
        }
            .pre-container p {
                font-size: 12pt;
                line-height: 10%;
                margin-left: 4.5in;
                margin-top: 0;
            }
        
        .page1 .header p {
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            margin-bottom: 0.25in;
        }

        .page1 .main p {
            font-size: 12pt;
            /*text-ident: 0.37in;*/
            /*margin-top: 0.1in;*/
            margin-top: 0;
            margin-bottom: 0;
            line-height: 2;
        }
  </style>
    <div class="page page1">

        <div class="pre-container">
            <p>Додаток 1</p>
            <p>до наказу</p>
            <p>від {{nmkd.orderDate}} №&nbsp;{{nmkd.order}}</p>
        </div>

        <div class="header">
            <p>Складові навчально-методичного комплексу дисципліни</p>
        </div>
        
        <div class="main">
            <p>1. Навчальна програма дисципліни.</p>
            <p>2. Робоча програма з навчальної дисципліни.</p>
            <p>3. Тексти лекцій (курс лекцій, опорні конспекти лекцій).</p>
            <p>4. Інструктивно-методичні матеріали до семінарських, практичних, лабораторних занять (методичні вказівки до семінарських і практичних занять, інструкції до лабораторних занять).</p>
            <p>5. Завдання для самостійної роботи, індивідуальні навчально-дослідницькі завдання.</p>
            <p>6. Методичні вказівки з організації самостійної роботи студентів.</p>
            <p>7. Дидактичне забезпечення самостійної роботи студентів (у т.ч. з використанням інформаційних технологій).</p>
            <p>8. Методичні вказівки і тематика курсових робіт (курсового проектування).</p>
            <p>9. Контрольні завдання (текстові та електронні варіанти тестів) до семінарських, практичних і лабораторних занять.</p>
            <p>10. Текстові та електронні варіанти тестів для підсумкового контролю й самоконтролю.</p>
            <p>11. Методичні вказівки і тематика контрольних робіт (зокрема, для заочної форми навчання).</p>
            <p>12. Питання до модульних контрольних робіт, підсумкового контролю, екзаменаційні білети.</p>
            <p>13. Контрольні роботи з навчальної дисципліни (ККР) для перевірки рівня засвоєння студентами навчального матеріалу.</p>
            <p>14. Критерії та система оцінювання знань, умінь і навичок студентів.</p>
        </div>
        
    </div>




