<style>
    .page13 {
        page-break-before: always;
    }
        .page13 .header {
            text-align:center;
            margin-bottom: 63px;
            padding-top: -0.3mm;
            margin-left: 38px;
        }
            .page13 .header p {
                font-size: 12pt;
                line-height: 1;
                margin: 5px 0;
                padding: 0;
                letter-spacing: 0.25mm;
            }

        .form {
            margin-bottom: 105px;
        }

        .page13 .work-program .title {
            text-align: center;
            font-size: 14pt;
            font-weight: bold;
            margin-bottom: 53px;
            letter-spacing: 0.2mm;
            margin-left: 38px;
        }

            .page13 .work-program table.row tr td.text {
                font-size: 10pt;
            }

            .page13 .work-program table.row tr td.hint {
                font-size: 10pt;
            }

        .page13 .cityYear {
            margin: 0 220px;
            padding-top: 5px;
        }
            .page13 .cityYear table.row tr td.text {
                font-size: 10pt;
            }
        
                table.row {
                    width: 100%;
                    margin-bottom: 0.15in;
                }

                    table.row tr td.underline {
                        border-bottom: 1px solid #000;
                        text-align: center;
                        font-size: 12pt;
                        text-align: center;
                        padding-bottom: 0;
                    }

                    table.row tr td.text {
                        width: auto;
                        white-space: nowrap;
                        font-size: 12pt;
                        letter-spacing: 0.001in;
                        padding-bottom: -2px;
                    }

                .hint {
                    margin-top: -0.4in;
                    padding-top: 0;
                    font-size: 7pt;
                    text-align: center;
                }
</style>
<div class="page page13">
    <div class="header">
        <p style="margin-bottom: 15px;">МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ</p>
        <p>ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ</p>
        <p>ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</p>
    </div>

    <div class="form">
        <table class="row" style="margin-bottom:10px">
            <tr>
                <td class="text" style="width:50%; letter-spacing: 0.2mm;">ПОГОДЖЕНО:</td>
                <td class="text" style="width:50%; letter-spacing: 0.2mm; padding-left: 10px;">ЗАТВЕРДЖУЮ:</td>
            </tr>
        </table>

        <table class="row" style="margin-left:-3px; margin-bottom:-1px">
            <tr>
                <td class="text" style="width:50%">Начальник департаменту навчально-</td>
                <td class="text" style="width:50%; padding-left:10px;">Проректор</td>
            </tr>
        </table>

        <table class="row" style="margin-left:-3px; margin-bottom:-1px">
            <tr>
                <td class="text" style="width:50%">методичної роботи, доцент</td>
                <td class="text" style="width:50%; padding-left:10px;">з науково-педагогічної роботи, доцент</td>
            </tr>
        </table>

        <table class="row" style="margin-left:-3px; margin-bottom:-3px">
            <tr>
                <td class="underline" style="width: 160px"></td>
                <td class="text" style="width: 140px"> М. Н. Гаврилюк</td>
                <td class="underline" style="width: 160px"></td>
                <td class="text"> Ю. В. Андріяко</td>
            </tr>
        </table>

        <table class="row" style="margin-left:-3px; margin-bottom:-3px">
            <tr>
                <td style="width: 160px; font-size:8pt; text-align:center;">(підпис)</td>
                <td style="width: 170px"></td>
                <td style="width: 160px; font-size:8pt; text-align:center;">(підпис)</td>
                <td></td>
            </tr>
        </table>

        <table class="row">
            <tr>
                <td class="text">&#147;&nbsp;&nbsp;&nbsp;&nbsp;&#147;</td>
                <td class="underline" style="width:160px"></td>
                <td class="text">20</td>
                <td class="underline" style="width:30px"></td>
                <td class="text" style="width:70px"> р.</td>

                <td class="text">&#147;&nbsp;&nbsp;&nbsp;&nbsp;&#147;</td>
                <td class="underline" style="width:160px"></td>
                <td class="text">20</td>
                <td class="underline" style="width:30px"></td>
                <td class="text" style="width:60px">р.</td>
            </tr>
        </table>
    </div>

    <div class="work-program">
        <p class="title">РОБОЧА ПРОГРАМА НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</p>

        <div class="form">
            <table class="row" style="margin-bottom:29px">
                <tr>
                    <td class="underline"></td>
                </tr>
                <tr>
                    <td class="hint">(шифр і назва навчальної дисципліни)</td>
                </tr>
            </table>
            
            <table class="row" style="margin-bottom:14px">
                <tr>
                    <td class="underline"></td>
                </tr>
            </table>

            <table class="row" style="margin-bottom:12px">
                <tr>
                    <td class="text">Галузь знань</td>
                    <td class="underline"></td>
                </tr>
                <tr>
                    <td colspan="2" class="hint">(шифр і назва галузі знань)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom:28px">
                <tr>
                    <td class="text">Напрям підготовки /спеціальність</td>
                    <td class="underline"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(шифр і назва напряму підготовки / спеціальності)</td>
                </tr>
            </table>

            <table class="row" style="margin-bottom:17px">
                <tr>
                    <td class="underline"></td>
                </tr>
            </table>

            <table class="row" style="margin-bottom:10px">
                <tr>
                    <td class="text">Спеціалізація </td>
                    <td class="underline"></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hint">(назва спеціалізації)</td>
                </tr>
            </table>

            <table class="row">
                <tr>
                    <td class="text">Інститут / факультет </td>
                    <td class="underline"></td>
                </tr>
                <tr>
                    <td colspan="2" class="hint">(назва інституту / факультету)</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="cityYear">
        <table class="row">
            <tr>
                <td class="text">20</td>
                <td class="underline">&nbsp;&nbsp;&nbsp;</td>
                <td class="text"> &#8211; 20</td>
                <td class="underline">&nbsp;&nbsp;&nbsp;</td>
                <td class="text">навчальний рік</td>
            </tr>
        </table>
    </div>
    
    
</div>  
