
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in">
<FONT SIZE=3><B>3. ПРОГРАМА НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.39in">
<FONT SIZE=3><B>Змістовий модуль 1.</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.39in">
<FONT SIZE=3>Тема 1. </FONT>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 1in; text-indent: -1in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 1in; text-indent: -0.61in">
<FONT SIZE=3>Тема 2.</FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.49in">
<FONT SIZE=3><B>4. СТРУКТУРА НАВЧАЛЬНОЇ ДИСЦИПЛІНИ</B></FONT></P>
<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="text-indent: 0.49in">
<BR>
</P>
<TABLE WIDTH=653 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=149>
	<COL WIDTH=51>
	<COL WIDTH=9>
	<COL WIDTH=9>
	<COL WIDTH=28>
	<COL WIDTH=26>
	<COL WIDTH=34>
	<COL WIDTH=51>
	<COL WIDTH=9>
	<COL WIDTH=18>
	<COL WIDTH=28>
	<COL WIDTH=26>
	<COL WIDTH=34>
	<TR VALIGN=TOP>
		<TD ROWSPAN=4 WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Назви
			змістових модулів і тем</FONT></P>
		</TD>
		<TD COLSPAN=12 WIDTH=474 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>Кількість
			годин</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD COLSPAN=6 WIDTH=226 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>денна
			форма</FONT></P>
		</TD>
		<TD COLSPAN=6 WIDTH=234 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>заочна
			форма</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD ROWSPAN=2 WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>усього
			</FONT>
			</P>
		</TD>
		<TD COLSPAN=5 WIDTH=161 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>у тому
			числі</FONT></P>
		</TD>
		<TD ROWSPAN=2 WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>усього
			</FONT>
			</P>
		</TD>
		<TD COLSPAN=5 WIDTH=170 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>у тому
			числі</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>л</FONT></P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>п</FONT></P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>лаб.</FONT></P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>інд.</FONT></P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>с. р.</FONT></P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>л</FONT></P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>п</FONT></P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>лаб.</FONT></P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>інд.</FONT></P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>с. р.</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>1</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>2</FONT></P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>3</FONT></P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>4</FONT></P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>5</FONT></P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>6</FONT></P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>7</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>8</FONT></P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>9</FONT></P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>10</FONT></P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>11</FONT></P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>12</FONT></P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3>13</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=13 WIDTH=637 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3><B>Модуль
			1</B></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=13 WIDTH=637 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="ru-RU" CLASS="western" ALIGN=CENTER><FONT SIZE=3><SPAN LANG="uk-UA"><B>Змістовий
			модуль 1</B></SPAN><SPAN LANG="uk-UA"><B>.</B></SPAN><SPAN LANG="uk-UA">
			Назва</SPAN></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Тема 1. Назва</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Тема 2. Назва
			</FONT>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Разом за
			змістовим модулем 1</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=13 WIDTH=637 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3><B>Змістовий
			модуль 2.</B> Назва</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Тема 1. Назва</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Тема 2. Назва
			</FONT>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>Разом за
			змістовим модулем 2</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<H4 LANG="uk-UA" CLASS="western" ALIGN=RIGHT>Усього годин
						</H4>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=13 WIDTH=637 VALIGN=TOP STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><FONT SIZE=3><B>Модуль
			2</B></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<H4 LANG="uk-UA" CLASS="western" STYLE="font-weight: normal">ІНДЗ</H4>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>-</FONT></P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>-</FONT></P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>-</FONT></P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>-</FONT></P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>-</FONT></P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT SIZE=3>-</FONT></P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=149 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<H4 LANG="uk-UA" CLASS="western" ALIGN=RIGHT>Усього годин</H4>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=51 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=9 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=18 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=28 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=26 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=34 STYLE="border: 1px solid #000000; padding: 0in 0.08in">
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 0.18in; margin-right: 0.15in; text-indent: 0.43in; margin-top: 0.16in; background: #ffffff; line-height: 0.23in">
<BR>
</P> 
