<style>

    .page1 {
        padding-top: 18px;
        font-family: "Times New Roman", sans-serif; 
        font-size: 12pt; 
        so-language: uk-UA;
        margin-left: -10mm
    }

        .page1 .header {
            margin: 0 auto 230px auto;
        }
            .page1 .header p {
                text-align: center;
                line-height: 130%;
                margin-bottom: 0;
                margin-top: 0;
                font-weight: bold;
                letter-spacing: 0.23mm;
                word-spacing: -2px;
            }
                .page1 .header .subheader {
                    margin-top: 3px;
                }

        .page1 .title {
            margin: 0 auto 457px 0;
        }
            .page1 .title p {
                text-align: center;
                line-height: 200%;
                font-family: "Times New Roman", serif; 
                font-size: 12pt; 
                so-language: uk-UA;
                margin-bottom: 27px;
                margin-top: 0;
                font-weight: bold;
                letter-spacing: 0;
            }
                .page1 .title p.title1 {
                    letter-spacing: 0.23mm;
                    text-transform: uppercase;
                }
                .page1 .title p.title2 {
                    margin-left: 5px;
                }
                
        .page1 .cityYear {
            margin: 0 auto;
        }
            .page1 .cityYear p {
                text-align: center;
                line-height: 200%;
                font-family: "Times New Roman", serif; 
                font-size: 12pt; 
                so-language: uk-UA;
                margin-bottom: 0;
                margin-top: 0;
                font-weight: bold;
                letter-spacing: -0.1mm;
            }
            
</style>
<div class="page page1">
    <div class="header">
        <p>МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ</p>
        <p>ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ</p>
        <p>ІМЕНІ БОГДАНА ХМЕЛЬНИЦЬКОГО</p>
        <div class="subheader">
            <p>НАВЧАЛЬНО-НАУКОВИЙ ІНСТИТУТ ФІЗИКИ, МАТЕМАТИКИ ТА</p>
            <p>КОМП’ЮТЕРНО-ІНФОРМАЦІЙНИХ СИСТЕМ</p>
        </div>
    </div>

    <div class="title">
        <p class="title1">{{nmkd.disc_name}}</p>
        <p class="title2">Навчальна програма</p>
    </div>

    <div class="cityYear">
        <p>Черкаси-{{nmkd.year}}</p>
    </div>
</div>
