<style>
    .page8 .title {
        text-align: center;
        font-weight: bold;
        margin: 0;
        font-family: "Times New Roman", sans-serif; 
        font-size: 12pt;
    }
        .page8 .table {
            margin:0px;
            padding:0px;
            width:100%;
            height:auto;
            border-top:1px solid #000000;
            border-left:1px solid #000000;
        }
            .page8 .table table{
                border-collapse: collapse;
                border-spacing: 0;
                width:100%;
                height:auto;
                margin:0px;
                padding:0px;
            }
                .page8 .table th,
                .page8 .table td {
                    vertical-align:middle;
                    background-color:#ffffff;
                    border:1px solid #000000;
                    border-width:0px 1px 1px 0px;
                    text-align:center;
                    padding:4px;
                    font-size:12pt;
                    font-family:Times New Roman;
                }
                .page8 .table th {
                    font-weight:bold;
                }
                .page8 .table td {
                    font-weight:normal;
                }
                
                .page8 .table tr:last-child td{
                    border-width:0px 1px 0px 0px;
                }
                .page8 .table tr td:last-child{
                    border-width:0px 0px 1px 0px;
                }
                .page8 .table tr:last-child td:last-child{
                    border-width:0px 0px 0px 0px;
                }
</style>
<div class="autopagination page8">

    <p class="title">РОЗПОДІЛ БАЛІВ, ПРИСВОЮВАНИХ СТУДЕНТАМ</p>

    <div class="table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Вид роботи</th>
                        <th>Кількість робіт</th>
                        <th>Бали</th>
                        <th>Загальна сума балів</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Модульний контроль</td>
                        <td>3</td>
                        <td>5</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Виконання лабораторних робіт:</td>
                        <td>9</td>
                        <td>5</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>- виконання завдань</td>
                        <td></td>
                        <td>2</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>- підготовка звіту з лабораторної роботи</td>
                        <td></td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>- захист звіту з лабораторної роботи</td>
                        <td></td>
                        <td>2</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Виконання індивідуального завдання</td>
                        <td>1</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Іспитова робота</td>
                        <td>1</td>
                        <td>50</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>ВСЬОГО</td>
                        <td></td>
                        <td></td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Додатковий набір балів студентом</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Активність на лекційних заняттях</td>
                        <td></td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Доповідь на студентській науковій конференції</td>
                        <td></td>
                        <td>15</td>
                        <td>15</td>
                    </tr>
                </tbody>    
            </table>
        </div> <!--class=table-->

        <br>

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Рейтинговий показник</th>
                        <th colspan="2">Оцінка за національною шкалою</th>
                        <th>Оцінка ECTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>90 – 100</td>
                        <td rowspan="5">Зараховано</td>
                        <td>5 (відмінно)</td>
                        <td>А (відмінно)</td>
                    </tr>
                    <tr>
                        <td>82 – 89</td>
                        <td rowspan="2">4 (добре)</td>
                        <td>В (добре)</td>
                    </tr>
                    <tr>
                        <td>75 – 81</td>
                        <td>С (добре)</td>
                    </tr>
                    <tr>
                        <td>68 – 74</td>
                        <td rowspan="2">3 (задовільно)</td>
                        <td>D (задовільно)</td>
                    </tr>
                    <tr>
                        <td>60 – 67</td>
                        <td>E (задовільно)</td>
                    </tr>
                    <tr>
                        <td>35 – 59</td>
                        <td rowspan="2">Незараховано</td>
                        <td>2 (незадовільно)</td>
                        <td>FX (незадовільно) з можливістю повторного складання</td>
                    </tr>
                    <tr>
                        <td>1 – 34</td>
                        <td>-</td>
                        <td>F (незадовільно) з обов’язковим повторним вивченням</td>
                    </tr>
                </tbody>    
            </table>
        </div> <!--class=table-->

</div>
