<style>
	.page9 .method p,
	.page9 .resources p,
	.page9 .literature p,
	.page9 .title {
		font-family: "Times New Roman", sans-serif; 
		font-size: 12pt;
	}
</style>
<div class="autopagination page9">
	<div class="method">
		<p>
			<b>МЕТОДИЧНЕ ЗАБЕЗПЕЧЕННЯ:</b> опорні конспекти лекцій,
			інтерактивний комплекс навчально-методичного
			забезпечення дисципліни
		</p>
	</div>
	<div class="resources">
		<p>
			<b>РЕСУРСИ:</b> Бібліотека університету,
			сервер фізичного факультету, джерела Інтернет, Інтранет.
		</p>
	</div>

	<div class="literature">
		<p class="title">ЛІТЕРАТУРА</p>

		<div class="general">
			<p>Основна</p>
			<p>
				1. Шпак З.Я. Програмування мовою С: Навч. посібник.  –Львів:Оріяна-Нова, 2006. - 432 с.
			</p>
		</div>

		<div class="additional">
			<p>Додаткова</p>
			<p>
				1. Макс Шлее. Qt4.5. Профессиональное программирование на С++. —СПб.: БХВ-Петербург, 2010. — 896 е.: ил. + DVD — (В подлиннике)
			</p>
		</div>
	</div>
</div>
